@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Página de estudo sobre C#.</p>
<p>@ViewData["email"]</p>
<address>
    <strong>Mais informações: </strong> <a href="http://educandoweb.com.br"> EducandoWeb.com.br</a>
</address>
